<!DOCTYPE html>
<html>
	<head>
		<title>NEW ARTISTS</title>
		<link rel='stylesheet' href='css/bootstrap.min.css'/>
		<script  src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'> </script>
		<script  src='js/bootstrap.min.js'></script>
	</head>
 	<body>

		<h1> Login </h1>
		<form action='/login' method='post'>
			<p>
				<input type='text' name='email' placeholder='Correo Electrónico' />
			</p>
			<p>
				<input type='password' name='password' placeholder='Contraseña' />
			</p>
			<p>
				<input type='submit' value='Login' />
			</p>
		</form>
  	</body>
</html>