<!DOCTYPE html>
<html>
	<head>
		<title>NEW ARTISTS</title>
		<link rel='stylesheet' href='css/bootstrap.min.css'/>
		<script  src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'> </script>
		<script  src='js/bootstrap.min.js'></script>
	</head>

	<body>

		<H1> Registre sus datos!</H1>
		<p> <%= errorMessage %> </p>
		<div> </div>
		<form action="/signup" method="post">
		    <div>
		        <label>Correo electrónico:</label>
		        <input type="text" name="email"/>
		    </div>
		    <div>
		        <label>Contraseña:</label>
		        <input type="password" name="password"/>
		    </div>
		    <div>
		        <input type="submit" value="Registrarse"/>
		    </div>
		</form>
	</body>
</html>

